VITE_API_URL=
NODE_ENV=production
PORT=3001
POSTGRES_URL=
DATABASE_URL=
FRONTEND_URL=
EMAIL_USER=
EMAIL_PASS=
AUTH_SECRET=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_NAME=
CHATBOT_API_URL=http://localhost:5000